* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("background\ image.webp");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 540px;
    height: 500px;
    margin: 8% auto;
    background-color: darksalmon;
    border-radius: 5px;
    position: relative;
}
